h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 0;
    font-size: 2.6rem;
    margin: 0;
}

.header___nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: orange;
    padding: 5px 0;
}
.header___title{
    display: flex;
    gap: 5px;
    align-items: center;
}
.title___logo{
    width: 80px;
    border-radius: 50%;
    height: 80px;
}
.header___ul{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 20px;
}
.buscador___input{
    width: 25%;
    display: flex;
    flex-direction: column;

}
.container___input{
    border-radius: 10px;
    width: 75%;
    display: flex;
}
.ul___li{
    font-size: 20px;
    text-decoration: none;
}
/* .buscador___input{
    margin: 0 auto;
} */
